version: '3.8'

services:
  backend:
    build:
      context: ./idealo_scraper
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: always
