version: '3.8'

services:
  backend:
    build:
      context: ./idealo_scraper
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - ./idealo_scraper/data.db:/app/data.db
      - ./produkte.csv:/app/produkte.csv

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: always
